.create-stock .products-area {
  width: 65%;
  height: 700px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgb(177, 179, 184);
  padding: 30px;
  overflow-y: scroll;
  background-color: whitesmoke;
}

.create-stock .layout {
  display: flex;
  flex-direction: row;
}

.create-stock .products-area .product-box {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 20px;
  box-shadow: 0 0 30px rgb(177, 179, 184);
  padding: 20px 10px;
  margin-bottom: 20px;
  background-color: white;
  border: none;
}

.create-stock .products-area .product-box .product-info {
  width: 400px;
}

.create-stock .products-area .product-box .product-dlt-btn {
  position: absolute;
  left: 100%;
  top: 100%;
  transform: translateX(-130%) translateY(-130%);
}

.product-dlt-btn {
  border: none;
  background-color: #e23f50;
  padding: 0px 30px;
  font-weight: 500;
  color: white;
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out;
}

.product-dlt-btn:hover {
  background-color: #e66b77;
}

.create-stock .summary {
  width: 35%;
  height: 250px;
  margin-left: 20px;
  box-shadow: 0 0 30px rgb(184, 177, 177);
  border-radius: 10px;
  padding: 20px;
}

.summary button {
  margin-top: 30px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
